* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --main-color: #3c3226;
  --background-color: #613416;
  --second-color: #3c3226;
  --color: #dfe0df;
}
