@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Alkatra", cursive;
  letter-spacing: 1.2px;
}

:root {
  --main-color: #3c3226;
  --second-color: #6c6053;
  --background-color: #613416;
  --background-color-character: #30271dda;
  --border-color: #30271d;
  --color: #dfe0df;
}

body {
  background-color: var(--background-color);
}
